<h1>Edit this comment!</h1>

  <%= form_for [@post, @comment] do |f| %>

      <div>
          <%= f.label :content %>
          <%= f.text_area :content, size: "40x5" %>
      </div>
      <br>

      <%= f.submit "Submit these changes!" %>

  <% end %>

<%= link_to "Back to the list!", post_path %>
