<div class="container">
    <h1 class="specialCh">Add a new comment</h1>

  <%= form_for [@post, @comment], html: {class: 'form-horizontal'} do |f| %>

      <div class="form-group">
          <%= f.label :content, class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.text_area :content, size: "40x2", class: "form-control" %>
          </div>
      </div>
      <br>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <%= f.submit "Submit", class: "btn btn-primary form-control" %>
        </div>
      </div>

      <% end %>

      <div style="padding-left: 17%;">

          <%= link_to "Back to the list!", posts_path %>
      </div>

</div>
