<h1>Add a new comment</h1>

  <%= form_for [@post, @comment] do |f| %>

      <div>
          <%= f.label :content %>
          <%= f.text_area :content, size: "40x2" %>
      </div>
      <br>

      <%= f.submit "Submit" %>

  <% end %>

<%= link_to "Back to the feed!", posts_path %>
