<div class="container">
    <h1 class="specialCh">Posts</h1>

    <div>
      <% if current_user %>
         Write a <%= link_to "New Post", new_post_path(@post) %>
      <% elsif %>
         Write a <%= link_to "New Post", new_user_session_path  %>
      <% end %>
    </div>
    <br>

    <ul>
        <% @posts.each do |post| %>
        <div class="panel panel-primary" role="post">
            <div class="panel-heading"><strong class="specialCh"><h4> <%= post.headline %> </h4></strong></div>
                 <div class="panel-body"><%= post.content %> <br>
                <%= if post.user %>
                  by <strong> <%= post.user.username %> </strong>
                <%= end %>  
    	     <%= link_to "View", post_path(post) %>  |

           <% if current_user %>
              <%= link_to "Comment", new_post_comment_path(post) %>
           <% elsif %>
              <%= link_to "Comment", new_user_session_path  %>
           <% end %>

           <!-- <div class="media-left">
             <a href="#">
               <img class="media-object" src="@post.picture.url" alt="...">
             </a>
           </div> -->

         </div>
        </div>
        <% end %>
    </ul>
</div>
