<div class="container">
    <h1 class="specialCh">Add a new post!</h1>

    <%= form_for @post, html: {class: 'form-horizontal'} do |f| %>

        <div class="form-group">
            <%= f.label :headline, class: "col-sm-2 control-label" %>
            <div class="col-sm-6">
              <%= f.text_field :headline, class: "form-control" %>
            </div>

        </div>

        <div class="form-group">
            <%= f.label :content, class: "col-sm-2 control-label" %>
            <div class="col-sm-6">
              <%= f.text_area :content, size: "30x1", class: "form-control" %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :occured, class: "col-sm-2 control-label" %>
            <div class="col-sm-6">
              <%= f.text_field :occured, class: "form-control" %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :performer_website, class: "col-sm-2 control-label" %>
            <div class="col-sm-6">
              <%= f.text_field :performer_website, class: "form-control" %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :performer_info, class: "col-sm-2 control-label" %>
            <div class="col-sm-6">
              <%= f.text_field :performer_info, class: "form-control" %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :category_id, class: "col-sm-2 control-label" %>
            <div class="col-sm-6">
              <%= f.collection_select(:category_id, @category, :id, :name, class: "form-control") %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :image, class: "col-sm-2 control-label" %>
            <div class="col-sm-6">
              <%= f.text_field :image, class: "form-control" %>
            </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <%= f.submit "Submit", class: "btn btn-primary form-control" %>
          </div>
        </div>

    <% end %>

    <div style="padding-left: 17%;">

        <%= link_to "Back to the list!", posts_path %>
    </div>


</div>
